.row {
  display: flex;
  margin-inline: 20%;
}

.cards {
  width: 65%;
  margin: 2%;
  text-align: center;
  padding: 2% 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

section {
  text-align: center;
  font-family: Rubik, sans-serif;
}

h2,
h4 {
  color: #1b75bb;
}

a {
  text-decoration: none;
  color: #1b75bb;
}

.button {
  background-color: #c9e8ff;
  border: 1px solid #1b75bb;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
